*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    height: 100%;
    width: 100%;
}
#left{
    height: 100%;
    width: 30%;
 
}
#right{
    height: 100%;
    width: 70%;
    background-color: rgb(242, 86, 8);
}